@model Activity.ServiceLayer.ViewModels.PostsVM
@{
    ViewData["Title"] = "MyProfile";
}

<h1>MyProfile</h1>
@*
    <table class="table">
        <thead>
            <tr>
                <th>posts</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Posts)
            {
            <tr>
                <td>
                    @p.Title
                </td>
                <td>
                    @p.Description
                </td>
                <td>
                    @p.Link
                </td>
                <td>
                    @p.Thumbnail
                </td>
                <td>
                    @p.Location
                </td>
                <td>
                    @p.CreatedAt
                </td>
                <td>
                    @p.CreatedBy
                </td>
            </tr>
            }

         </tbody>
    </table>
*@

@foreach (var p in Model.Posts)
{
    @if (p.Thumbnail != null)
    {
<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="@p.Thumbnail" alt="">
        </a>
    </div>
    <div class="col-md-5">
        <h3>@p.Title</h3>
        <p>@p.Description</p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="EditPost">Edit</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Delete">Delete</a>
    </div>
    <span>location: @p.Location</span> &nbsp; <span>posted at: @p.CreatedAt</span>&nbsp;<span>posted by: @p.CreatedBy</span>&nbsp;@if (p.UpdatedAt != null)
    {<span>updated at: @p.UpdatedAt</span>}&nbsp; @if (p.UpdatedAt != null)
    {<span>updated by: @p.UpdatedBy</span>}

</div>
        <hr />
    }
    else
    {
<div class="row">
    <div class="col-md-12">
        <h3>@p.Title</h3>
        <p>@p.Description</p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="EditPost">Edit</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Delete">Delete</a>
    </div>
    <span>location: @p.Location</span>&nbsp;<span>posted at: @p.CreatedAt</span>&nbsp;<span>posted by: @p.CreatedBy</span>&nbsp;@if (p.UpdatedAt != null)
    {<span>updated at: @p.UpdatedAt</span>} &nbsp;@if (p.UpdatedAt != null)
    {<span>updated by: @p.UpdatedBy</span>}
</div>
        <hr />
    }
}