@model Activity.ServiceLayer.ViewModels.PostAndUserVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Post</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Post.CreatedBy</td>
                <td>@Model.Post.Title</td>
                <td>@Model.Post.Description</td>
                <td>@Model.Post.Thumbnail</td>
                <td>@Model.Post.Link</td>
                <td>@Model.Post.Location</td>
                <td>@Model.Post.CreatedAt</td>
            </tr>
        </tbody>
    </table>
</div>*@
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="@Model.Post.Thumbnail" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>@Model.Post.Title</h3>
            <p>@Model.Post.Description</p>
            <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="EditPost">Edit</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Delete">Delete</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
    </div>
</div>